
#masthead {
  border-bottom: 1px solid orange;
  padding-bottom: 5px;
  
}

h1 {
	font-size:30px;
	font-family: fantasy;
	margin: auto;
	width:100%;
}

h2 {
	font-size: 50px;
	font-family: fantasy;	
}
html {
	width: 1100px;
	margin: auto;
	position: relative;
}

.body-text {
	font-family: arial;
	float: left;
	width: 50%;
	height: 100%;
}
.body-images {
	height: 100%;
	width: 50%;	
	float: right;
}

#image-block {
	height: auto;
}

.details-text {
	font-weight: bold;
}

.menubar {
    opacity: 0.5;  
	list-style-type: none;
	position: absolute;
}

.menubar li {
	float: left;
	border: black solid 1px;
	width: 100px;
}

.menubar a {
	display: block;
}

.menubar li a {
	
	background-color: white;
	color: black;
	text-align: center;
	padding:14px 16px;
	text-decoration: none;
	font-weight: bold;
}

.menubar li a:hover {
	background-color: #DFDFDF;
	
}
#headerbar {
	
	right: 1;
	top: 1px;
	border: black solid 1px;
}
#headerbar a {
	padding: 2px;	
}
#footerbar {
	float: right;
	bottom: 16;
	
}


#footerbar ul {
}

#footerbar a {
	padding: 2px;
}

#footerbar li {
	border: black solid 1px;
}

#copyright {
	position: absolute;
	bottom: 0;
}

.contact-form {
	position: absolute;
	right: 10px;
	width: 300px;
	background-color: white;
	box-shadow: 2px 2px 2px 2px;

}
.product-list {
	font-family: courier;
	margin-bottom: 100px;
	
}
.product-table {
	list-style-type: none;
	center: 0;
}

.product-title {
	
	font-weight: bold;
	font-size: 30;
}

table, tr, td	{
	border: 1px solid black;
	text-align: center;
}

.form {
	height: 1100px;
}